@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,800&display=swap';
@import "https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap";

$color_1: rgba(0, 0, 0, 0.43);
$color_2: #FFEDFA;
$color_3: rgb(44, 43, 43);
$font-family_1: 'Montserrat', sans-serif;
$background-color_1: #033431;
$background-color_2: #E9E4E6;
$background-color_3: #F6F5F5;
$background-color_4: transparent;
$background-color_5: #eee;
$border-color_1: #fff;
.information-page{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.information-page-heading{
    color: $background-color_1;
    font-size: 30px;
    font-weight: 500;
    padding: 30px;
}
.information-page-content{
    width: 80%;
    font-size: 20px;
}
.information-page-list{
    width: 50%;
}
