@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,800&display=swap';
@import "https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap";

$color_1: #0000004d;
$color_2: #F4C951;
$color_3: rgb(44, 43, 43);
$font-family_1: 'Montserrat', sans-serif;
$background-color_1: #28BFD2;
$background-color_2: #CAEBFF;
$background-color_3: #D8EEFE;
$background-color_4: transparent;
$background-color_5: #eee;
$border-color_1: #fff;

/* Import Google font - Poppins */
@import "https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap";

/* navbar */
/* sidebar */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font-family_1;
}

body {
    transition: all 0.5s ease;
}

.sidebar {
    background-color: $background-color_1;
    width: 260px;
    position: fixed;
    // top: 91px;
    left: 0;
    height: 100vh;
    padding: 3rem 2rem 8rem 2rem;
    z-index: -1;
    overflow-y: scroll;
    box-shadow: 0 0 1px $color_3;
    transition: all 0.5s ease;
    // pa-top: 90px;
    &::-webkit-scrollbar {
        display: none;
    }

    .nav_link {
        display: flex;
        align-items: center;
        width: 100%;
        padding: 4px 15px;
        border-radius: 8px;
        text-decoration: none;
        color: $background-color_3;
        white-space: nowrap;
        margin-bottom: 4rem;
        font-size: x-large;
    }
}

.sidebar.close {
    padding: 60px 0;
    width: 80px;

    .navlink {
        display: none;
    }

    .nav_link {
        &:hover {
            background: $color_2;
            color: $background-color_3;
        }
    }

    .bottom_content {
        width: 50px;
        left: 15px;
    }

    .bottom {
        span {
            display: none;
        }
    }
}

.navlink_icon {
    position: relative;
    font-size: 2rem;
    min-width: 50px;
    line-height: 40px;
    display: inline-block;
    text-align: center;
    border-radius: 6px;

    &::before {
        content: "";
        position: absolute;
        height: 100%;
        width: calc(100% + 100px);
        left: -20px;
    }

    &:hover {
        background: $color_2;
    }
}

.nav_link {
    &:hover {
        color: $color_3;
        background: $color_2;
    }
}


.bottom_content {
    position: fixed;
    bottom: 60px;
    left: 0;
    width: 260px;
    cursor: pointer;
    transition: all 0.5s ease;
}

.bottom {
    position: absolute;
    display: flex;
    align-items: center;
    left: 0;
    justify-content: space-around;
    padding: 18px 0;
    text-align: center;
    width: 100%;
    color: $background-color_3;
    border-top: 1px solid $color_1;
    background-color: $background-color_1;

    i {
        font-size: 1.5rem;
    }

    span {
        font-size: x-large;
    }
}

.sidebar.hoverable {
    .collapse_sidebar {
        display: none;
    }
}

#sidebarOpen {
    display: none;
}

@media screen and (max-width: 768px) {
    .sidebar{
       
    }
    // #sidebarOpen {
    //     font-size: 25px;
    //     display: block;
    //     margin-right: 10px;
    //     cursor: pointer;
    //     color: $color_2;
    // }

    // .sidebar.close {
    //     left: -100%;

    //     .bottom_content {
    //         left: -100%;
    //     }
    // }

    // .search_bar {
    //     display: none;
    // }
}