@tailwind base;
@tailwind components;
@tailwind utilities;
// @import "https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap";

$color_1: rgba(0, 0, 0, 0.302);
$color_2: #F4C951;
$color_3: rgb(44, 43, 43);
$font-family_1: 'Montserrat', sans-serif;
$background-color_1: #28BFD2;
$background-color_2: #CAEBFF;
$background-color_3: #D8EEFE;
$background-color_4: transparent;
$background-color_5: #eee;
$border-color_1: #fff;
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
    background: $background-color_1;
    // box-shadow: inset 0 0 0px 1px var(--primaryColor);
    width: 2px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: $background-color_1;
    // box-shadow: inset 0 0 1px 1px var(--secondaryTextColor);
}

::-webkit-scrollbar-thumb:hover {
    background-color: $color_2;
}

::-webkit-scrollbar-thumb:active {
        background-color: $color_2;
}


body {
    width: 100%;
    height: 100vh;
    // background-color: ;
    // color: $background-color_3;
    /* overflow: hidden; */
    font-family: $font-family_1;
    height: 100vh;
    // -webkit-font-smoothing: antialiased;
}

.nav-bar {
    width: 100%;
    height: 35px;
    position: absolute;
    top: 80px;
    left: 0;
    background-color: $background-color_1;
    border-bottom: 2px solid $color_1;
    padding: 2px 25px;
    display: flex;
    align-items: center;
    // box-shadow: inset 0 1px 0px #444b57, 0 2px 0 #7b68ee,
    //     0 3px 12px rgba(0, 0, 0, 0.4);
    z-index: 99;
}

.nav-bar .toggle-menu {
    width: 26px;
    height: 26px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 3px;
}

.toggle-menu.active {
    background-color: $color_1;
    // box-shadow: inset 0 0 0 2px;
}

.nav-bar .toggle-menu.active:hover {
    background-color: $color_1;
    // box-shadow: inset 0 0 0 2px #ff528c;
}

.nav-bar .toggle-menu:hover {
    background-color: $color_1;
    // box-shadow: inset 0 0 0 2px #8d79ff;
}

.toggle-menu span {
    width: 18px;
    height: 2px;
    background-color: $background-color_3;
    margin: 2px;
}

.anim-bar {
    animation: animBar 0.5s ease;
}

@keyframes animBar {
    0% {
        width: 18px;
    }

    15% {
        width: 12px;
    }

    30% {
        width: 25px;
    }

    45% {
        width: 15px;
    }

    60% {
        width: 20px;
    }

    75% {
        width: 16px;
    }

    100% {
        width: 18px;
    }
}

.main {
    width: 100%;
    height: calc(100% - 115px);
    position: fixed;
    bottom: 0;
    overflow: auto;
}

.side-menu {
    width: 0;
    height: calc(100% - 115px);
    background-color: $background-color_1;
    border-right: 0px solid transparent;
    overflow: hidden;
    top: 40px;
    left: 0;
    padding-top: 15px;
    position: fixed;
    display: flex;
    flex-direction: column;
    overscroll-behavior: contain;
    overflow-y: auto;
    padding-bottom: 20px;
    top: 115px;
    transition: left 0.4s ease, border-radius 0.3s ease,
        clip-path 0.5s cubic-bezier(0.81, 0.51, 0.09, 1.05);
    -webkit-clip-path: circle(0% at 0 0);
    clip-path: circle(0% at 0 0);
}

.side-menu.resize {
    width: 250px;
    border-right: 2px solid $color_1;
    background-color: $background-color_1;
    -webkit-clip-path: circle(141.4% at 0 0);
    clip-path: circle(141.4% at 0 0);
    transition: background-color 0.5s ease, border-radius 0.3s ease,
        clip-path 0.5s cubic-bezier(0.81, 0.51, 0.09, 1.05);
}

.side-menu .menu-items {
    padding: 0px 15px;
}

.side-menu a {
    position: relative;
    text-decoration: none;
    color: $background-color_3;
    width: 100%;
    height: 35px;
    margin-top: 2px;
    padding: 10px 20px;
    border-radius: 35px;
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 600;
    -webkit-user-select: none;
    user-select: none;
    overflow: hidden;
    transition: color 0.2s ease;
}

// .side-menu a:hover {
//     color: $color_;
// }

.side-menu a.active {
    color: $color_3;
}

.side-menu a::after {
    content: "";
    position: absolute;
    left: 10px;
    bottom: 10px;
    width: 0%;
    height: 0px;
    background-color: $color_1;
    border-radius: 35px;
    transition: width 0.2s ease, height 0.3s ease, border-radius 0.3s ease,
        transform 0.2s ease, background-color 0.3s ease-in;
    z-index: -1;
}

.side-menu a:hover::after {
    width: 70%;
    height: 10px;
    border-radius: 0;
    transform: skewX(-45deg);
    background-color: $color_2;
}

.side-menu a.active::after {
    background-color: $color_2;
    width: 100%;
    height: 100%;
    bottom: 0px;
    border-radius: 35px;
    left: 0;
    transform: skewX(0);
    animation: active 0.2s ease;
}

@keyframes active {
    0% {
        height: 6px;
        width: 70%;
        border-radius: 0;
    }

    70% {
        height: 6px;
        width: 100%;
        border-radius: 35px;
    }

    75%,
    100% {
        height: 100%;
    }
}

@media (max-width: 768px) {
    .side-menu.resize {
        width: 250px;
        left: 0;
        border-right: 2px solid $color_1;
        background-color: $background-color_1;
        -webkit-clip-path: circle(141.4% at 0 0);
        clip-path: circle(141.4% at 0 0);
    }

    .side-menu {
        position: fixed;
        left: -250px;
        width: 0;
        z-index: 99;
    }

    .content.resize {
        width: 100%;
        float: none;
    }
}
