@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,800&display=swap'; 
@import "https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap";

$color_1: #0000004d;
$color_2: #F4C951;
$color_3: rgb(44, 43, 43);
$font-family_1: 'Montserrat', sans-serif;
$background-color_1: #28BFD2;
$background-color_2: #CAEBFF;
$background-color_3: #D8EEFE;
$background-color_4: transparent;
$background-color_5: #eee;
$border-color_1: #fff;

.nav {
    width: 100%;
    background-color: $background-color_1;
    position: relative;
    padding: 10px 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
}

.nav>.nav-header {
    display: flex;
}
#logo{
    width: 50px;
    height: 50px;
}
.nav>.nav-header>.nav-title {
    display: inline-block; 
    font-family: 'Playfair';
    font-style: italic;
    font-size: 2.5rem;
    color: $background-color_3;
    font-weight: bolder;
}

.nav>.nav-btn {
    display: none;
}

.nav>.nav-links {
    display: flex;
    float: right;
    font-size: 1.3rem;
}

.nav>.nav-links>a {
    display: flex;
    align-items: center;
    padding: 20px;
    text-decoration: none;
    color: $background-color_3;
    text-transform: capitalize;
}

.nav>.nav-links>a:hover {
    background-color: $color_1;
}

.nav>#nav-check {
    display: none;
}

@media (max-width:870px) {
    .nav>.nav-btn {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
    }

    .nav>.nav-btn>label {
        display: inline-block;
        width: 50px;
        height: 50px;
        padding: 13px;
    }

    .nav>.nav-btn>label:hover,
    .nav #nav-check:checked~.nav-btn>label {
        background-color: $color_1;
    }

    .nav>.nav-btn>label>span {
        display: block;
        width: 25px;
        height: 10px;
        border-top: 3px solid #eee;
    }

    .nav>.nav-links {
        // position: static;
        display: contents;
        justify-content: center;
        width: 100%;
        background-color: $background-color_1;
        /* height: 0px; */
        transition: all 0.3s cubic-bezier(0.84, -0.28, 1, 1);
        overflow-y: hidden;
        top: 80px;
    }

    .nav>.nav-links>a {
        display: flex;
        justify-content: center;
        width: 100%;
        padding: 50px;
    }
    .nav>.nav-links>a:hover~.nav-links{
        background-color: $color_1;
    }
    .nav>#nav-check:not(:checked)~.nav-links {
        display: none;
        height: 0px;
    }

    .nav>#nav-check:checked~.nav-links {
        height: calc(100vh - 80px);
        overflow-y: auto;
    }
}