@tailwind base;
@tailwind components;
@tailwind utilities;
// @import "https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap";

$color_1: #08152F;
$color_2: #D8EEFE;
$font-family_1: 'Montserrat', sans-serif;
$background-color_1: #28BFD2;
$background-color_2: #CAEBFF;
$background-color_3: #D8EEFE;
$background-color_4: transparent;
$background-color_5: #eee;
$border-color_1: #fff;

