@tailwind base;
@tailwind components;
@tailwind utilities;
// @import "https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap";

$color_1: #08152F;
$color_2: #D8EEFE;
$font-family_1: 'Montserrat', sans-serif;
$background-color_1: #28BFD2;
$background-color_2: #CAEBFF;
$background-color_3: #D8EEFE;
$background-color_4: transparent;
$background-color_5: #eee;
$border-color_1: #fff;

@keyframes move {

    0%,
    49.99% {
        opacity: 0;
        z-index: 1;
    }

    50%,
    100% {
        opacity: 1;
        z-index: 5;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font-family_1;
}

body {
    background-color: $background-color_3;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

.login-container {
    background-color: $background-color_2;
    position: relative;
    overflow: hidden;
    width: 100vw;
    // max-width: 100%;
    min-height: 100vh;

    p {
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.3px;
        margin: 20px 0;
    }

    span {
        font-size: 12px;
    }

    a {
        color: $color_1;
        font-size: 13px;
        text-decoration: none;
        margin: 15px 0 10px;
    }

    button {
        background-color: $background-color_3;
        color: $color_2;
        font-size: 12px;
        padding: 10px 45px;
        border: 1px solid transparent;
        border-radius: 8px;
        font-weight: 600;
        letter-spacing: 0.5px;
        text-transform: uppercase;
        margin-top: 10px;
        cursor: pointer;
    }

    button.hidden {
        background-color: $background-color_4;
        border-color: $border-color_1;
    }

    form {
        background-color: $background-color_2;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 0 40px;
        height: 100%;
    }

    input {
        background-color: $background-color_5;
        border: none;
        margin: 8px 0;
        padding: 10px 15px;
        font-size: 13px;
        border-radius: 8px;
        width: 100%;
        outline: none;
    }
}

.form-container {
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
}

.sign-in {
    left: 0;
    width: 50%;
    z-index: 2;
}

.login-container.active {
    .sign-in {
        transform: translateX(100%);
    }

    .sign-up {
        transform: translateX(100%);
        opacity: 1;
        z-index: 5;
        animation: move 0.6s;
    }

    .toggle-container {
        transform: translateX(-100%);
        border-radius: 0 150px 100px 0;
    }

    .toggle {
        transform: translateX(50%);
    }

    .toggle-left {
        transform: translateX(0);
    }

    .toggle-right {
        transform: translateX(200%);
    }
}

.sign-up {
    left: 0;
    width: 50%;
    opacity: 0;
    z-index: 1;
}

.social-icons {
    margin: 20px 0;

    a {
        border: 1px solid #ccc;
        border-radius: 20%;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        margin: 0 3px;
        width: 40px;
        height: 40px;
    }
}

.toggle-container {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: all 0.6s ease-in-out;
    border-radius: 150px 0 0 100px;
    z-index: 1000;
}

.toggle {
    background-color: $background-color_3;
    height: 100%;
    background: linear-gradient(to right, #f8a25c, #e1ec3c);
    color: $color_2;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
}

.toggle-panel {
    position: absolute;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 30px;
    text-align: center;
    top: 0;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
}

.toggle-left {
    transform: translateX(-200%);
}

.toggle-right {
    right: 0;
    transform: translateX(0);
}
