@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,800&display=swap';
@import "https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap";

$color_1: rgba(0, 0, 0, 0.43);
$color_2: #FFEDFA;
$color_3: rgb(44, 43, 43);
$font-family_1: 'Montserrat', sans-serif;
$background-color_1: #033431;
$background-color_2: #E9E4E6;
$background-color_3: #F6F5F5;
$background-color_4: transparent;
$background-color_5: #eee;
$border-color_1: #fff;
$card-height: 300px;
$card-width: calc($card-height / 1.5);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font-family_1;
}

.body {
    width: calc(100vw - 80px);
    height: 100vh;
    position: relative;
    padding: 25px;
    left: 80px;
    display: block;
    align-items: center;

    h1{
        font-size: 3.5rem;
        font-weight: bolder;
        color: $background-color_1;
    }

    .content{
        font-size: 1.5rem;
    }

}