@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,800&display=swap';
@import "https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap";

$color_1: rgba(0, 0, 0, 0.43);
$color_2: #FFEDFA;
$color_3: rgb(44, 43, 43);
$font-family_1: 'Montserrat', sans-serif;
$background-color_1: #033431;
$background-color_2: #E9E4E6;
$background-color_3: #F6F5F5;
$background-color_4: transparent;
$background-color_5: #eee;
$border-color_1: #fff;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font-family_1;
}

.to-speech-body {
    width: calc(100vw - 80px);
    height: 100vh;
    position: relative;
    padding: 25px;
    left: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .heading {
        font-size: 3.5rem;
        font-weight: bolder;
        color: $background-color_1;
    }
    textarea {
        border: 4px solid $background-color_1;
        border-radius: 10px;
        height: 20vh;
        width: 70%;
        padding: 10px;
        display: block;
        justify-content: left;
    }
}
.control-pannel{
    button{
        border: #033431 2px solid;
        border-radius: 5px;
        margin: 10px 20px;
        padding: 10px 10px 7px;

        lord-icon{

        }
    }
}
@media (min-width: 40px) {
    .sm\:grid-cols-1 {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
}